 @charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
* {
	margin: 0;
	padding: 0;
}
ul {
	list-style-type: none;
}
a {
	text-decoration: none;
	display: block;
	color: #fff;
	font-size: 16px;
}
h2{
	font-size: 30px;
}
h3{
	font-size: 30px;
}
h4{
	font-size: 20px;
}
h5{
	font-size: 17px;
	color: #666;
}
body {
	font-family: 'Noto Sans KR', sans-serif;
}


/* .visual */
.visual > div{
	background: url(../img/visual4.jpg) no-repeat center center;
	width: 100%;
	height: 700px;
	background-size: cover;
}
.cover{
	width: 100%;
	height: 700px;
	background-color:rgba(0,0,0,0.3);
}
.cover > div{
	width:1320px;
	margin: 0 auto;	
}
.cover h2{
	color:#fff;
	padding-top: 400px;
	width: 550px;
}


/* .section_cont1 */
.section_cont1{
	width: 1200px;
	margin: 0 auto;
	margin-top: 200px;
	margin-bottom: 100px;
}

.main_swiper ul.swiper-wrapper{
	position: relative;
	height: 625px;
	width: 1200px;
}
.main_swiper li.swiper-slide{
	width:1200px;
	height: 625px;
	position: absolute;
}
.cont1-inner{
	color: #fff;
	text-align: center;
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.cont1-inner span{
	font-size: 14px;
}
.cont1-inner h3{
	margin-top: 30px;
	margin-bottom: 30px;
}
.main-box{
	width: 95px;
	height: 28px;
	background-color: #36b4e5;
	margin: 0 auto;
	margin-bottom: 30px;
}

.line-top{
	width: 410px;
	height: 1px;
	background-color: #fff;
}
.line-bottom{
	width: 410px;
	height: 1px;
	background-color: #fff;
}
.line-top2{
	width: 420px;
	height: 1px;
	background-color: #fff;
}
.line-bottom2{
	width: 420px;
	height: 1px;
	background-color: #fff;
}
.line-top3{
	width: 320px;
	height: 1px;
	background-color: #fff;
}
.line-bottom3{
	width: 320px;
	height: 1px;
	background-color: #fff;
}

.main_swiper li.swiper-slide:nth-child(2){
	display: none;
}
.main_swiper li.swiper-slide:nth-child(3){
	display: none;
}

.sub_swiper ul.swiper-wrapper{
	width: 790px;
	height: 237px;
	background-color: #36b4e5;
	position: relative;
	margin: 0 auto;
	top: -120px;
	
}
.sub_swiper li.swiper-slide{
	width:790px;
	height: 237px;
	position: absolute;
}
p.sub-txt{
	font-size: 17px;
	color: #fff;
	text-align: center;
	width: 700px;
	margin: 0 auto;
	margin-top: 40px;
}
.sub_swiper li.swiper-slide:nth-child(2) p{
	margin-top: 50px;
}

.sub_swiper li.swiper-slide:nth-child(2){
	display: none;
}
.sub_swiper li.swiper-slide:nth-child(3){
	display: none;
}

.swiper-controler{
	position: relative;
	width: 100px;
	margin: 0 auto;
	margin-top: -80px;
}
.swiper-button-stop{
	background: url(../img/pause-button.png) no-repeat;
	width: 10px;
	height: 10px;
	background-size: cover;
	filter: invert(84%) sepia(12%) saturate(2%) hue-rotate(315deg) brightness(104%) contrast(94%);
}
.swiper-pagination{
	position: absolute;
	top: 0;
	left: 30px;
}
.swiper-pagination > span{
	float: left;
	margin-right: 10px;
}
span.swiper-pagination-bullet{
	width: 8px;
	height: 8px;
	border: 1px solid #ddd;
	border-radius: 50%;
	display: block;
}
.swiper-pagination-bullet:first-child{
	background-color: #36b4e5;
}


/* .section_cont2 */
.section_cont2{
	width: 100%;
	height: 400px;
}
#video{
	height: 400px;
	width: 100%;
	object-fit: cover;	
}


/* .section_cont3 */
.section_cont3{
	width: 100%;
	height: 720px;
	background-color: #efefef;
}
.section_cont3 h3{
	text-align: center;
	padding-top: 60px;
}
.section_cont3 h4{
	margin-top: 35px;
	margin-bottom: 5px;
}
.section_cont3 ul{
	font-size: 16px;
	color: #666;
	margin-top: 35px;
}
.section_cont3 ul li{
	margin-bottom: 5px;
}
.section_cont3 > div{
	width: 1330px;
	height: 475px;
	margin: 0 auto;
	margin-top: 40px;
}
.section_cont3 > div > div{
	float: left;
	margin-right: 65px;
}
.section_cont3 > div > div:last-child{
	margin-right: 0;
}

.cont3_box{
	width: 400px;
	height: 475px;
	background-color: #fff;
}
.cont3_txt{
	width: 310px;
	margin: 0 auto;
	margin-top: 70px;
}
.cont3_box:nth-child(1) .cont3_logo{
	background: url(../img/sub4_logo1.png) no-repeat;
	width: 85px;
	height: 65px;
	background-size: cover;
}
.cont3_box:nth-child(2) .cont3_logo{
	background: url(../img/sub4_logo2.png) no-repeat;
	width: 65px;
	height: 65px;
	background-size: cover;
}
.cont3_box:nth-child(3) .cont3_logo{
	background: url(../img/sub4_logo3.png) no-repeat;
	width: 70px;
	height: 70px;
	background-size: cover;
}



@media (max-width: 1420px) {
    .cover > div{
        width: 93%;
    }
    
    .section_cont3 > div{
        width: 93%;
    }
    .section_cont3 > div > div{
        margin-right: 3.5%;
    }
    .cont3_box{
        width: 31%;
        margin: 0 auto;
    }
	
	body{
		overflow-x: hidden;
	}
}

@media (max-width: 1220px) {
    .cont3_txt ul{
        display: none;
    }
    .cont3_txt{
        text-align: center;
    }
    .cont3_logo{
        margin: 0 auto;
    }
    .cont3_box{
        height: 350px;
        margin-top: 20px;
    }
    .section_cont3{
        height: 630px;
    }
    
    .section_cont1{
        width: 100%;
    }
	.main_swiper li.swiper-slide{
		width: 90%;
	}
}

@media (max-width: 1199px) {
	.cont1-inner{
        padding-left: 8%;
    }
	
	.cont3_txt{
		margin-right: 5%;
		margin-top: 25%;
	}
}

@media (max-width: 991px) {
	.cont1-inner{
        padding-right: 20%;
    }
	
	.cont3_txt{
		margin-left: -6%;
		margin-top: 30%;
	}
}

@media (max-width: 800px) {
	.cont1-inner{
        padding-right: 35%;
    }
	
	.cont3_txt{
		margin-top: 30%;
		text-align: left;
		margin-left: 10%;
	}
	.cont3_txt h4{
		width: 50%;
	}
	.cont3_txt h5{
		width: 50%;
	}
	.cont3_logo{
        margin: 0;
    }
}

@media (max-width: 575.98px) {
	.cover h2{
		width: 400px;
		padding-left: 30px;
	}
	
	.section_cont1{
		display: none;
	}
	
	.section_cont3{
		height: 800px;
	}
	.cont3_box{
		background-color: transparent;
		width: 100%;
		height: 40%;
		padding-top: 10px;
	}
	.cont3_txt{
		width: 100%;
		margin-top: 0;
		text-align: center;
	}
	.cont3_txt h4{
		margin-left: 15%;
	}
	.cont3_txt h5{
		margin-left: 15%;
	}
	.cont3_txt > div{
        margin-left: 32%;
    }
	.section_cont3 > div > div{
		float: none;
		margin: 0 auto;
		margin-bottom: 0;
	}
	
	.cont3_box:nth-child(1) .cont3_logo{
		margin-left: 30%;
	}
}


