@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
* {
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Noto Sans KR', sans-serif;
}

/* footer */
footer{
	width: 100%;
	height: 280px;
	background-color:#2d2d2d;
}
.ft_inner{
	width: 1400px;
	margin: 0 auto;
	position: relative;
}
	
.ft_left{
	position: absolute;
	left:0;
	margin-top: 100px;
}
.ft_btn a{
	float: left;
	font-size: 15px;
	color: #fff;
	padding-right: 55px;
}
a.first{
	color:#36b4e5;
}
.ft_txt{
	margin-top: 50px;
	position: absolute;
	width: 500px;
}
.ft_txt p{
	color: #999;
	font-size: 14px;
}
.ft_txt p:first-child{
	padding-bottom: 5px;
}
	
.ft_right{
	float: right;
	margin-top: 100px;
}
div.ft_right > select{
	appearance:none;
	width:150px;
	height:36px;
	color:#bbb;
	border:1px solid #999;
	border-radius:30px;
	background:url("../img/select_arrow.png") no-repeat 85% 50%;
	padding:0 20px;
	box-sizing:border-box;
	cursor: pointer;
}
.ft_right > div{
	background: url("../img/logo.png") no-repeat;
	width: 100px;
	height: 100px;
	background-size: contain;
	margin-top: 20px;
	margin-left: 30px;
}



@media (max-width: 1420px) {
	.ft_inner{
		width: 97%;
		margin: auto;
	}
}

@media (max-width: 1199px) {
	.ft_inner{
		width: 96%;
	}
}

@media (max-width: 991px) {
	.ft_inner{
		width: 95%;
	}
	
	.ft_btn a{
        padding-right: 30px;
    }
}

@media (max-width: 800px) {
	.ft_inner{
		width: 90%;
	}
	.ft_right{
		padding-top: 150px;
	}
	footer{
		height: 420px;
	}
}

@media (max-width: 575.98px) {
	.ft_inner{
		margin-left: 40px;
	}
	
	.ft_left{
		margin-top: 20%;
	}
	.ft_right{
		float: left;
	}
	.ft_right > div{
		float: right;
		margin-left: 130px;
		margin-top: 5px;
	}
	
	.ft_btn a{
		padding-bottom: 5px;
	}
	.ft_txt{
		margin-top: 70px;
	}
	
	footer{
		height: 370px;
	}
}
















